HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.idea

### env file con Credenziali ###
env/.env.secret
=======
# ------------------------
# Maven
# ------------------------
/target/
/**/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse/IntelliJ
*.iml
.idea/
*.ipr
*.iws
/out/
.classpath
.project
.settings/

# Logs
*.log
logs/
**/logs/

# OS files
.DS_Store
Thumbs.db

# Spring Boot
spring.log

# Lombok
lombok.config

# Temporary files
*.tmp
*.bak
*.swp

# Test reports
/test-output/
/surefire-reports/
/**/surefire-reports/

# Node (in caso di frontend integrato)
node_modules/
dist/
build/

# Docker
**/.dockerignore
docker-compose.override.yml
.docker/

# Kubernetes
k8s/*.yaml

# Environments / config
env/.env.secret
.idea
/k8s/secret/app-secret.yml