<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifica Profilo</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<main>
    <h1>Modifica Profilo</h1>
    <form th:action="@{/update-profile}" method="post">
        <input type="hidden" name="id" th:value="${user.id}" />

        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" th:value="${user.name}" required>

        <label for="surname">Cognome:</label>
        <input type="text" id="surname" name="surname" th:value="${user.surname}" required>

        <button type="submit">Salva modifiche</button>
    </form>
    <a href="/userpage">Indietro</a>
</main>
</body>
</html>
